<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">

                    <h4 class="float-left">Chỉnh sửa sản phẩm </h4>

                    <ol class="breadcrumb float-left float-md-right">
                        <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item">game / chinh-sua-san-pham / </li>
                    </ol>

                </div>
            </div>
        </div><!-- end .page title-->

        <form class="form-horizontal" method="post" action="">
            {{#each result}}
                <div class="row justify-content-center">
                    <div class="col-md-5 margin-b-10 ">
                        <div class="profile-overview">
                            <div class="avtar text-center">

                                <div id="fileZone" >
                                    <div class="dz-message row justify-content-center">
                                        <div class="note text-white">space</div>
                                        <div class="note">Thêm một hình nhỏ về game</div>
                                        <!--                                <button class="btn btn-white">Chọn tệp</button>-->
                                        <div class="col-md-8">
                                            <a><img src={{this.avatar}} class="img-thumbnail"></a>
                                            <input type="url" class="form-control" id="Url" name="Url"  placeholder="Nhập URL của hình đại diện cho game" value="{{this.avatar}}">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div>
                                <h4 class="mb-xlg">Một số hình minh hoạ khác về game</h4>
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Url1">Hình 1</label>
                                        <div class="col-md-8">
                                            <a><img src={{this.imgurl1}} class="img-thumbnail"></a>
                                            <input type="url" class="form-control" id="Url1" name="Url1" value="{{this.imgurl1}}" placeholder="Nhập URL của hình 1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Url2">Hình 2</label>
                                        <div class="col-md-8">
                                            <a><img src={{this.imgurl2}} class="img-thumbnail"></a>
                                            <input type="url" class="form-control" id="Url2" name="Url2" value="{{this.imgurl2}}" placeholder="Nhập URL của hình 2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Url3">Hình 3</label>
                                        <div class="col-md-8">
                                            <a><img src={{this.imgurl3}} class="img-thumbnail"></a>
                                            <input type="url" class="form-control" id="Url3" name="Url3" value="{{this.imgurl3}}" placeholder="Nhập URL của hình 3">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-b-10">
                        <div class="profile-edit">

                            <h4 class="mb-xlg">Thông tin chung về sản phẩm</h4>
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Name">Tên game</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="Name" name="Name" value="{{this.name}}" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Genre">Thể loại</label>
                                    <div class="col-md-8">
                                        <select id="Genre" name="Genre" class="form-control">

                                            <option value="{{this.cid}}" hidden="hidden" selected="selected">{{/each}}{{selectedCategory}}</option>
                                            {{#if categories}}
                                                {{#each categories }}
                                                    <option value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            {{/if}}

                                            {{#each result}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Developer">Nhà phát triển</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="Developer" name="Developer" value="{{this.developer}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Publisher">Nhà phát hành</label>
                                    <div class="col-md-8">
                                        <select id="Publisher" name="Publisher" class="form-control">

                                        <option value="{{this.pbid}}" hidden="hidden" selected="selected">{{/each}}{{selectedPublisher}}</option>
                                            {{#if publishers}}
                                                {{#each publishers }}
                                                    <option value="{{this.pbid}}">{{this.name}}</option>
                                                {{/each}}
                                            {{/if}}
                                         {{#each result}}
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Thông tin chi tiết</h4>
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Price">Giá cả</label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" id="Price" name="Price" value="{{this.price}}" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Quantity">Số lượng</label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" id="Quantity" name="Quantity" value="{{this.quantity}}" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Status">Tình trạng</label>
                                    <div class="col-md-12">
                                        <div class="row justify-content-between funkyradio">
                                            <div class="funkyradio-default">
                                                <input type="checkbox" name="checkbox" id="checkbox1" checked/>
                                                <label for="checkbox1">Chưa nhập </label>
                                            </div>
                                            <div class="funkyradio-primary">
                                                <input type="checkbox" name="checkbox" id="checkbox2" checked/>
                                                <label for="checkbox2">Sắp có </label>
                                            </div>
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="checkbox" id="checkbox3" checked/>
                                                <label for="checkbox3">Đang bán </label>
                                            </div>
                                            <div class="funkyradio-purple">
                                                <input type="checkbox" name="checkbox" id="checkbox4" checked/>
                                                <label for="checkbox4">Ngừng bán </label>
                                            </div>
                                        </div>
                                        <div class="row justify-content-around funkyradio">
                                            <div class="funkyradio-danger">
                                                <input type="checkbox" name="checkbox" id="checkbox5" checked/>
                                                <label for="checkbox5">Hết hàng </label>
                                            </div>
                                            <div class="funkyradio-warning">
                                                <input type="checkbox" name="checkbox" id="checkbox6" checked/>
                                                <label for="checkbox6">Limited </label>
                                            </div>
                                            <div class="row funkyradio-info">
                                                <input type="checkbox" name="checkbox" id="checkbox7" checked/>
                                                <label for="checkbox7">Khuyến mãi </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="Description">Mô tả về game</label>
                                    <div class="col-md-12">
                                        <textarea id="Description" name="Description" class="form-control" rows="6" >{{this.description}}</textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="panel-footer">
                                <div class="row justify-content-end">
                                    <div class="col-md-5 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </form>
    </div>
    <!-- END CONTENT BODY -->
