<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">

                    <h4 class="float-left">Danh sách sản phẩm</h4>

                    <ol class="breadcrumb float-left float-md-right">
                        <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item">danh-sach-san-pham</li>
                    </ol>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-sm-12">
                <div class="row justify-content-end margin-bottom-10">
                    <a href="them_san_pham">
                        <button  type="button" id="add-product" class="btn btn-success float-right"><i class="fa fa-plus"></i> Thêm sản phẩm</button>
                    </a>
                </div>
                <form  method="post" enctype="multipart/form-data" id="form-product" class="">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                            <tr>
                                <td class="text-center">Ảnh minh hoạ</td>
                                <td class="text-left">Tên sản phẩm</td>
                                <td class="text-left">Thể loại</td>
                                <td class="text-left">Nhà phát hành</td>
                                <td class="text-left">Giá</td>
                                <td class="text-right">Số lượng</td>
                                <td class="text-left">Tình trạng</td>
                                <td class="text-right">Tuỳ chỉnh</td>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each games}}
                            <tr>
                                <td class="text-center"><a href="chinh_sua_san_pham/{{this.pid}}"><img src={{this.avatar}} class="img-thumbnail w3h4"></a></td>
                                <td class="text-left"><a href="chinh_sua_san_pham/{{this.pid}}">{{this.name}}</a></td>
                                <td class="text-left">{{this.catName}}</td>
                                <td class="text-left">{{this.pubName}}</td>
                                <td class="text-left">{{this.price}} đồng<br></td>
                                <td class="text-right"><span class="label">{{this.quantity}}</span></td>
                                <td class="text-left"><span class="tag label-info">Đang bán</span></td>
                                <td class="text-right">
                                    <a href="chinh_sua_san_pham/{{this.pid}}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="xoa_san_pham/{{this.pid}}" onclick="return confirm('Bạn có chắc là muốn xoá game này?')" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left"></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- END CONTENT BODY -->